<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<DataCollectionRunSettings>
		<DataCollectors>
			<DataCollector friendlyName="XPlat Code Coverage">
				<Configuration>
					<Format>cobertura</Format>
					<Include>[Nori.Core]*,[Nori.Desktop]*,[Nori.PluginRuntime]*</Include>
					<Exclude>[Live2DCSharpSDK.*]*</Exclude>
					<Exclude>[*.Tests]*</Exclude>
					<Exclude>[Nori.PluginRuntime.TestPlugin]*</Exclude>
					<ExcludeByAttribute>GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute>
					<ExcludeByFile>**/obj/**/*.cs,**/Generated/**/*.cs</ExcludeByFile>
				</Configuration>
			</DataCollector>
		</DataCollectors>
	</DataCollectionRunSettings>
</RunSettings>
